<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rondaulz.leaderboard">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AdminActivity"
            android:label="Admin"/>
        <activity
            android:name=".StudentDataDetailsActivity"
            android:label="Student Details"/>
        <activity
            android:name=".NewStudentActivity"
            android:label="Add New Student">
        </activity>
        <activity
            android:name=".NewSkillsActivity"
            android:label="Add New Skills">
        </activity>
        <activity
            android:name=".UpdateStudentDataActivity"
            android:label="Update Student Data">
        </activity>
    </application>

</manifest>